<!DOCTYPE html>
<html lang="pt-br">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
		<link rel="stylesheet" type="text/css" href="css/style.css" />	
		<title>Formulário de Inclusão de Conteúdo</title>
	</head>
	<body>
		<div class="div1"><h1>Formulário para inclusão de conteúdo</h1></div>
		<section>
			<% if(erros) { %>
				<ul>
					<% for(let i = 0; i<erros.length; i++){ %>
						<li>
							<%= erros[i].msg %>
						</li>
					<% } %>
				</ul>
			<% } %>
		</section>
		<form action="/conteudo/salvar" method="post">
			<input type="text" name="conteudo" placeholder="Digite o conteúdo" value="<%= conteudo.conteudo %>"><br>
			<input type="date" name="data_" placeholder="Data de Nascimento" value="<%= conteudo.data_ %>"><br>
			<input type="submit" value="Enviar"><br>
		</form>
	</body>
</html>