<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Site da disciplina de desenvolvimento WEB</title>
</head>
<body>
    <div class="div1">
        <h1>Rota conteúdo programático</h1>
    </div>
    <a href="/">Voltar</a>
    <a href="/insereconteudo">Cadastrar Conteúdo</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Conteudo</th>
            <th>Data</th>
        </tr>
        <% for(let i=0; i<conteudo.length; i++){ %>
            <tr>
                <td><%= conteudo[i].idconteudo %></td>
                <td><%= conteudo[i].conteudo %></td>
                <td><%= conteudo[i].data_ %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>