<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Site da disciplina de desenvolvimento WEB</title>
</head>
<body>
    <div class="div1">
        <h1>Rota principal do site</h1>
    </div>
    <a href="/professores">ir para: Professores</a><br>
    <a href="/estudantes">ir para: Estudantes</a><br>
    <a href="/conteudo">ir para: Conteúdo programático</a><br>
</body>
</html>