<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Site da disciplina de desenvolvimento WEB</title>
</head>
<body>
    <div class="div1">
        <h1>Rota professores</h1>
    </div>
    <a href="/">Voltar</a>
    <a href="/insereprofessor">Cadastrar Professor</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</td>
            <th>Titulação</th>
        </tr>
        <% for(let i=0; i<professores.length; i++){ %>
            <tr>
                <td><%= professores[i].idprofessores %></td>
                <td><%= professores[i].nome %></td>
                <td><%= professores[i].titulacao %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>